<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tmstco-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://tmstco-001-site1.ftempurl.com:8172/msdeploy.axd?site=tmstco-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tmstco-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\tmstco-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TMS_Local" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18BCD_tmstco;Persist Security Info=True;User ID=DB_A18BCD_tmstco_admin;Password=tmstco2030" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TMS_WebForms.Models.FormContext, TMS-WebForms" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18BCD_tmstco;Persist Security Info=True;User ID=DB_A18BCD_tmstco_admin;Password=tmstco2030" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TMS_WebForms.Models.ApplicationDbContext, TMS-WebForms" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TMS_Remote" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18BCD_tmstco;User ID=DB_A18BCD_tmstco_admin;Password=tmstco2030" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TMS_Remote_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=SQL5030.SmarterASP.NET;    Initial Catalog=DB_A18BCD_tmstco;    User Id=DB_A18BCD_tmstco_admin;    Password=tmstco2030; MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18BCD_tmstco;Persist Security Info=True;User ID=DB_A18BCD_tmstco_admin;Password=tmstco2030</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TMS_Local-Web.config Connection String">
      <ParameterValue>Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18BCD_tmstco;Persist Security Info=True;User ID=DB_A18BCD_tmstco_admin;Password=tmstco2030</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>